<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Raleway|Lobster|Ubuntu|Playfair+Display" rel="stylesheet">
  <!-- font awesome  -->
  <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
  <!-- favicon -->
  <link rel="icon" type="image/png" href="img/favicon-32x32.png">
  <!-- google verification -->
  <meta name="google-site-verification" content="y9LQNOKaxs2np35RbG-_03_3Ze_Y38rEDOLM2JnC6f0" />
  <title>About us</title>
  <style>
  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .2;
}
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="100">
  <div class="contanier">
    <video autoplay muted loop id="myVideo">
      <source src="/img/giphy.mp4" type="video/mp4">
    </video>
    <section class="navigation">
      <!-- navbar -->
      <div class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black;">
        <span class="navbar-brand mb-0 "> <img src="/img/logo.png" style="width:20px"></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#UI-top" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="UI-top">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Report Crime
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/manualReport">Manual Report</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Realtimereport">Real Time Report</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/suspect">Report Suspect</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  <section id="title" style="height:600px; background-color: black;">
      <!-- navbar ends -->
      <!-- title div -->
      <div class="row title justify-content-center align-items-center about-head">
      <div class="col-lg-12 align-self-center">
        <h1>About Us</h1>
        <p>An online crime report system which provides an easy way for the citizens to report for the negative happenings in our country. Its the duty of every citizen to stand against the crimes. We want to walk towards the path of crime free country. In this platform user can report any type of crime which has been witnessed by him/her with the help of maps, where you can mark the exact location of the crime or live crime, so that it provides an easy way to stand against the crimes without revealing their privacy</p>
      </div>
      </div>
  </section>
  <!--what do we do-->
    <section id=features class="back-img">
      <div class="features-div">
        <h1>Features</h1>
        <div class="row">
          <div class="feature-box col-lg-4 wow fadeInUp" data-wow-duration="2s">
            <i class="fas fa-laptop-code fa-3x icon"></i>
            <h3 class="feat-head1">Security</h3>
            <p class="feat-body1">
                We provide full security to our users with a better response.
            </p>
          </div>
          <div class="feature-box col-lg-4 wow fadeInUp" data-wow-duration="2s">
            <i class="fas fa-laptop fa-3x icon"></i>
            <h3 class="feat-head2">Privacy</h3>
            <p class="feat-body2">
              It depends upon the users that either they want to reveal or share their privacy with police or not.
            </p>
          </div>
          <div class="feature-box col-lg-4 wow fadeInUp" data-wow-duration="2s">
            <i class="fas fa-rupee-sign fa-3x icon"></i>
            <h3 class="feat-head3">Safe Data Handling</h3>
            <p class="feat-body3">
              All the data which is provided by the user is isolated.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="feature-box col-lg-4 wow fadeInUp" data-wow-duration="2s">
            <i class="fas fa-laptop-code fa-3x icon"></i>
            <h3 class="feat-head1">Immediate Response</h3>
            <p class="feat-body1">
              Immediate response will be given to the user regarding his/her crime report.
            </p>
          </div>
          <div class="feature-box col-lg-4 wow fadeInUp" data-wow-duration="2s">
            <i class="fas fa-laptop fa-3x icon"></i>
            <h3 class="feat-head2">User Friendly</h3>
            <p class="feat-body2">
              User friendly interface has been provided for an easy conveniency
            </p>
          </div>
          <div class="feature-box col-lg-4 wow fadeInUp" data-wow-duration="2s">
            <i class="fas fa-rupee-sign fa-3x icon"></i>
            <h3 class="feat-head3">Easy Reporting</h3>
            <p class="feat-body3">
              Maps has been provided for an easy location gathering so that exact location of crime could be taken.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- contact us -->
    {{!-- <section id=contact-us>
      <div class="col-lg-12">
        <h4 style="color:white;">Get The Best Websiter Build for your Company Today.</h4>
        <p> Write to us at the given links below.</p>
        <a class="btn btn-outline-secondary" href="mailto:vaidik16206138@gmail.com">E-mail</a>
      </div> --}}
    {{!-- <section id=footer>
      <div class="row justify-content-center" style="margin:0;">
        <div class="col-lg-12" style="text-align:center; padding-top:1.75rem; margin:0;">
          <a href="https://www.linkedin.com/in/vaidik-kamde-b76740169/" style="padding: 0 0.5rem;"><i class="fab fa-linkedin-in fa-2x"></i></a>
          <a href="https://twitter.com/vaidik_kamde/" style="padding:0 0.5rem;"><i class="fab fa-twitter-square fa-2x"></i></a>
          <a href="https://www.instagram.com/vaidikkamde2344/" style="padding:0 0.5rem;"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
        <div class="col-lg-12 made-by1" style="text-align:center;font-size:1rem;">
          <span style="margin:0;color:#212529;">Made with ♥ by Vaidik Kamde</span>
        </div>
        <div class="col-lg-12 made-by2" style="text-align:center;font-size:0.75rem;">
          <span style="margin:0;color:#212529;">©Bdevil Web services (2019)</span>
        </div>
      </div>
    </section> --}}
    </section>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script>
  new WOW().init();
  window.addEventListener("load", () => {
    const preload = document.querySelector(".preload");
    preload.classList.add("preload-finish");
  });

  </script>
  <footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="color:white">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" style="color:white">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" style="color:white">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" style="color:white">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" style="color:white">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" style="color:white">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold" style="color:white">Online Crime Report</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color:white">Here you can report for any crime related issue, so that proper actons could be taken against it</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color:white">Features</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Security</a>
        </p>
        <p>
          <a href="#!">Privacy</a>
        </p>
        <p>
          <a href="#!">Safe Data Handling</a>
        </p>
        <p>
          <a href="#!">User Friendly</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color:white">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="police.gov.in">Police.gov.in</a>
        </p>
        <p>
          <a href="#!">Indian Government</a>
        </p>
        <p>
          <a href="#!">Crime Reporting</a>
        </p>
        <p>
          <a href="#!">About Us</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color:white">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text">
          <i class="fas fa-home mr-3"></i> Lovely Professional University, Jalandhar, Punjab</p>
        <p class="text">
          <i class="fas fa-envelope mr-3"></i>DevOfTech.lpu.in@gmail.com</p>
        <p class="text">
          <i class="fas fa-phone mr-3"></i>6388406765</p>
        <p class="text">
          <i class="fas fa-print mr-3"></i>9984939053</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</footer>
</body>

</html>
